{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

<p>
    この実験はランダムにマッチングした1グループ{{Constants.players_per_group}}人で行います。
    皆さんは、0から{{Constants.T}}までの{{Constants.T}}つの時刻から到着時刻を決定してください。
    サービス時間は全員同じで、{{Constants.service_time}}になります。
    もし複数の人が同じ時刻を到着時刻として選んだ場合、ランダムに順番が決定されます。
    時刻{{Constants.T}}を超えてもサービスは提供されますが、到着時刻として{{Constants.T}}以降の時刻
    を選択することはできません。
</p>

<p>
    全員の入力が終わると結果が表示されます。
    あなたの選んだ到着時刻、待ち時間が表示されます。
    ほかのひとの選んだ到着時刻は知ることができません。
</p>

<p>
</p>
    {% next_button %}

{% endblock %}
